<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <%= image_tag 'images/faces/face8.jpg', class: 'img-xs rounded-circle' %>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">AKPER VI</p>
          <p class="designation">Administrator</p>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Dashboard</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Dashboard</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- partial -->