<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="d-sm-flex align-items-baseline report-summary-header">
              <h5 class="font-weight-semibold">Report</h5> <span class="ml-auto">Updated Report</span> <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
            </div>
          </div>
        </div>
        <%= render partial: 'admins/homes/partials/total_team', locals: { total_team_wira: @total_team_wira, total_team_madya: @total_team_madya } %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'admins/homes/partials/team', locals: { type_pmr: 'WIRA', member_contests: @member_contest_wira } %>
<%= render partial: 'admins/homes/partials/team', locals: { type_pmr: 'MADYA', member_contests: @member_contest_madya } %>
<%= render partial: 'admins/homes/partials/table_member_contest', locals: { member_contests: @member_contests } %>
