<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h3>TOTAL TEAM <%= type_pmr %></h3>
        <div class="row income-expense-summary-chart-text">
          <% member_contests.each do |key, value| %>
            <div class="col-md-12 col-xl-2">
              <p class="income-expense-summary-chart-legend"><%= @type_contest_pmr[key] %></p>
              <h3><%= value %></h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
