<div class="row report-inner-cards-wrapper">
  <div class=" col-md -6 col-xl report-inner-card">
    <div class="inner-card-text">
      <span class="report-title">Total Team Wira & Madya</span>
      <h4><%= total_team_wira + total_team_madya %></h4>
      <span class="report-count"> -</span>
    </div>
    <div class="inner-card-icon bg-success" style="margin-left: inherit;margin-left: 20px;">
      <i class="icon-rocket"></i>
    </div>
  </div>
</div>

<div class="row report-inner-cards-wrapper">
  <div class=" col-md -6 col-xl report-inner-card">
    <div class="inner-card-text">
      <span class="report-title">Total Team wira</span>
      <h4><%= total_team_wira %></h4>
      <span class="report-count"> -</span>
    </div>
    <div class="inner-card-icon bg-success">
      <i class="icon-rocket"></i>
    </div>
  </div>
  <div class="col-md-6 col-xl report-inner-card">
    <div class="inner-card-text">
      <span class="report-title">Total Team Madya</span>
      <h4><%= total_team_madya %></h4>
      <span class="report-count">-</span>
    </div>
    <div class="inner-card-icon bg-danger">
      <i class="icon-briefcase"></i>
    </div>
  </div>
</div>