<div class="container">
  <%= render partial: 'users/contests/partial/form', locals: { contest: @contest, list_contests: @list_contests, url: users_contest_path(@contest), text_submit: 'Save' } %>
</div>